{{> header}}

<div class="row m-5 justify-content-center">
    <h3>Hello, {{user.first_name}} {{user.last_name }}</h3>
</div>

<div class="row d-flex justify-content-center">
    {{#if user.posts.length}}
    <div class="col-10 d-flex justify-content-center ">
        <div class="card-deck ">
            {{#each user.posts as |post|}}
            <div class="my-card mb-4 card-hover" style="background-color: #d9b382 ;">
                <img src="{{post.file_path}}" class="card-img-top" alt="post img">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-user-secret pr-2"></i>{{post.title}}</h5>

                    <p>
                        {{post.post_content}}
                    </p>
                    <div class="card-footer">
                        <small class="text-muted">Submited on: {{formatDate post.post_date_created}}</small>
                    </div>
                    {{!-- <ul class="list-group my-list">
                        <li class="list-group-item" style="background-color: beige;">
                            <i class="fas fa-id-badge pr-2"></i>ID: 7
                        </li>
                        <li class="list-group-item" style="background-color: beige;">
                            <i class="fas fa-envelope-square pr-2"></i>Email: <a
                                href="mailto:codreanvictor@gmail.com">codreanvictor@gmail.com</a>
                        </li>
                        <li class="list-group-item" style="background-color: beige;">
                            <i class="far fa-building pr-2"></i>Office number: 5
                        </li>
                    </ul> --}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{else}}

    <div class="jumbotron  m-5" style="background-color: #b39064 ; color: aliceblue">

        <h2 class="text-center"> Dashboard</h2>
        <p class="text-center">You don't have any posts, yet</p>
        <a class="w-100 btn btn-info" href="/api/post">Add new Post</a>

    </div>

    {{/if}}
</div>