{{> header}}
<a class="w-100 btn btn-info" href="/api/post">Add new Post</a>
<div class="row m-5 justify-content-center">
    <h3>Hello, {{user.first_name}} {{user.last_name }}</h3>
</div>

<div class="row d-flex justify-content-center">
    {{#if user.posts.length}}
    <div class="col-10 d-flex justify-content-center ">
        <div class="card-deck post-list">
            {{#each user.posts as |post|}}
            <div class="card my-card card-hover" style="background-color: #d9b382 ;">
                <img src="{{post.file_path}}" class="card-img-top-2" alt="post img">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p>
                        {{post.post_content}}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Submited on: {{formatDate post.post_date_created}}</small>
                    <div class="">
                        <a href="/post/{{post.id}}" class=" btn btn-sm "
                            style="background-color: beige ; color: black">View post</a>
                        <a class=" btn btn-sm btn-primary">Edit post</a>
                        {{!-- <a href="/post/edit/{{post.id}}" class=" btn btn-sm btn-primary">Edit post</a> --}}
                        <button class=" btn btn-sm btn-danger delete-post-btn" data-id="{{post.id}}">DELETE</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{else}}

    <div class="jumbotron  m-5" style="background-color: #b39064 ; color: aliceblue">

        <h2 class="text-center"> Dashboard</h2>
        <p class="text-center">You don't have any posts, yet</p>
        <a class="w-100 btn btn-info" href="/api/post">Add new Post</a>

    </div>

    {{/if}}
</div>

<script src="/scripts/deletePost.js"></script>