{{> header}}

<div class="container mt-5 ">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-sm-12 mb-5">
            <img class="card-img-top" src="{{post.file_path}}" alt="img post">
            <div class="pt-3 row mx-2" style="background-color: white;">
                <div class="col-md-6 col-sm-12">
                    <a href="{{post.link}}" class="w-100 btn btn-success mb-3" target="_blank">
                        View outside link
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="{{post.file_path}}" class="w-100 btn btn-info mb-3" target="_blank">
                        Full-size-img
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="card w-75 mr-auto float-left mb-3" style="background-color: #d9b382 ;">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.post_content}}</p>
                    {{#if loggedIn}}

                    <button class="btn" id="add-comment" style="background-color: beige;">Add Comment</button>

                    <div class="p-2 hide-comment-input" id="comment-input" style="background-color: beige;">
                        <div class="d-flex flex-row align-items-start">
                            <textarea class="form-control ml-1 shadow-none textarea"
                                placeholder="say something about the post..."></textarea>
                        </div>
                        <div class="mt-2 text-right">
                            <button class="btn btn-primary btn-sm shadow-none" id="submit-comment" type="button"
                                data-id="{{post.id}}">
                                Post
                                comment
                            </button>
                            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" id="cancel-comment"
                                type="button">
                                Cancel
                            </button>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>



            <div class="w-75 ml-auto float-right" id="owner-comment">

                {{#each comments as |comment|}}

                <div class="card mb-3">
                    <div class="card-body">

                        <h5 class="card-title">{{comment.user.first_name}} {{comment.user.last_name}} -
                            <small>{{formatDate comment.comment_date_created}}</small>
                        </h5>

                        <p class="card-text pl-5">{{comment.comment_content}}</p>


                    </div>
                    <div class="card-footer">
                        <div class="mr-auto float-left">
                            <button class="no-show-btn pr-4">
                                <i class="far fa-thumbs-up pr-1"></i>
                                Like
                            </button>
                            <button class="no-show-btn">
                                <i class="fas fa-reply pr-1"></i>
                                Reply
                            </button>
                        </div>
                        <div class="ml-auto float-right">
                            {{#if comment.owner }}
                            <a class="pr-3">Edit</a>
                            {{!-- <a href="/api/post/comment/edit/{{comment.id}}" class="pr-3">Edit</a> --}}



                            <button class="no-show-btn pr-3" type="button" data-id="{{comment.id}}"
                                post-id="{{comment.post_id}}" style="color: #007bff;">
                                Delete
                            </button>


                            {{/if}}


                        </div>

                    </div>
                </div>
                {{/each}}
            </div>

        </div>


    </div>
</div>
<script src="/scripts/commentPost.js"></script>